<nav class="orange">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">ADMIN</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">

      {{#if isadminsAdd}}
      <li class="active"><a href="/admins__add">Добавить администратора</a></li>
      {{else}}
      <li><a href="/admins__add">Добавить администратора</a></li>
      {{/if}}

      {{#if isCards}}
      <li class="active"><a href="/cards">Карты</a></li>
      {{else}}
      <li><a href="/cards">Карты</a></li>
      {{/if}}

      {{#if isLising}}
      <li class="active"><a href="/lising">Лизинги</a></li>
      {{else}}
      <li><a href="/lising">Лизинги</a></li>
      {{/if}}

      {{#if isCredit}}
      <li class="active"><a href="/credits">Кредиты</a></li>
      {{else}}
      <li><a href="/credits">Кредиты</a></li>
      {{/if}}

      {{#if isContributions}}
      <li class="active"><a href="/contributions">Вклады</a></li>
      {{else}}
      <li><a href="/contributions">Вклады</a></li>
      {{/if}}

      {{#if isConsult}}
      <li class="active"><a href="/consult">Консультации</a></li>
      {{else}}
      <li><a href="/consult">Консультации</a></li>
      {{/if}}

      {{#if isConsultPop}}
      <li class="active"><a href="/consultPop">Срочные консультации</a></li>
      {{else}}
      <li><a href="/consultPop">Срочные консультации</a></li>
      {{/if}}
    </ul>
  </div>
</nav>

<div class="container">
  <h1>Банковские карты</h1>

  {{#if cards.length}}
  <ul>
    {{#each cards}}
    <li class="card__applications">
      <label>
        <span>{{Name}}</span>
        <span>{{Phone}}</span>
        <span>{{TypeOfCard}}</span>


        <a href="tel:{{Phone}}" class="btn btn-small">Связаться</a>
        <form action="/delete" method="post">
          <input type="hidden" value="{{_id}}" name="id">
          <button type="submit" class="btn btn-small">Просмотренно</button>
        </form>
      </label>
    </li>
    {{/each}}
  </ul>

  {{else}}
  <p>Нет заявок</p>
  {{/if}}
</div>